.header-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;

  background-color: #e09a41;
  margin: 120px 0px 0px 0px;
}

.user-name {
  color: #ffffff;
}
