.nav-styles {
  display: flex;
  align-items: flex-end;
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
}

.logo {
  width: 100vw;
  color: #ffffff;
  margin: 0 1.5em 1em;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 1.5em;
}
.write-tweet {
  color: #ffffff;
  border: 2px solid pink;
  min-width: 200px;
}
