.form-styles {
  width: 100%;
  border: 3px solid grey;
  padding: 1em;
}

.new-tweet {
  display: flex;
  /* justify-content: center; */
}

.flex-r-between {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  width: 100%;

  background-color: #e09a41;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  border-bottom: 6px solid #56514a;
}

.counter {
  color: #56514a;
}
