.margin-left-half-rem {
  margin-left: 0.5rem;
}

.width-90 {
  width: 90%;
}

/* Input error message styles */

#error-message {
  min-height: 2rem;
  margin-bottom: 0.5rem;
}

#error-message p {
  display: none;
  margin: 0;
}

.flex-r-between {
  display: flex;
  justify-content: space-between;
}

/* Form container */

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  flex-grow: 2;
}

/* Input Styles */

#tweet-text {
  width: 100%;
  max-height: 2.1em;
  background-color: #f4f1ec;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  outline: none;

  border-bottom: 3px solid #56514a;
}

.counter {
  color: #56514a;
  font-weight: bolder;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.output-tweet {
  word-wrap: break-word;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #56514a;
}

/* Container for users tweet */

.article-tweet {
  width: 100%;
  border: 4px solid #56514a;
  margin: 1rem 0;
  padding: 0 1rem;
}

article:hover {
  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.3);
}

footer {
  display: flex;

  justify-content: space-between;
}

footer.icons {
  height: 50px;
  width: 50px;
  background-color: green;
}

.icons-flex {
  display: flex;
  justify-content: space-evenly;
  min-width: 7rem;
}

.icon:hover {
  color: #d0953b;
}

@media screen and (min-width: 480px) {
  .new-tweet {
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .new-tweet {
    align-items: flex-end;
    width: 60%;
  }
} ;
