.container {
  padding: 1em;
}

.padding-1em {
  padding: 1em;
}

.form-styles {
  width: 100%;
  border: 3px solid grey;
  /* padding: 1em; */
}

.new-tweet {
  display: flex;
  /* justify-content: center; */
}

.flex-r-between {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  width: 100%;

  background-color: #e09a41;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  border-bottom: 3px solid #56514a;
}

.counter {
  color: #56514a;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

.tweet {
  border-bottom: 4px solid #56514a;
}

.article-tweet {
  border: 4px solid #56514a;
  margin: 1em 0;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer.icons {
  height: 50px;
  width: 50px;
  background-color: green;
}

article:hover {
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}

.icons-flex {
  display: flex;
  justify-content: space-evenly;
  min-width: 75px;
}

.icon:hover {
  color: #d0953b;
}
